@page "{id:int}"
@model Films.Pages.View
@{
}

<form method="post">
    <div class="film row">
        <div class="col-7 maintext mb-3 mt-3  ">
            <h2>@Model.Film?.Title</h2>
        </div>
        <div class="col-5 maintext mb-3 mt-3  ">
            <h3>IMDb:</h3>
        </div>
        <section class="film row">
            <div class="col-3 mb-4">
                <img src="@Model.Film?.Img" class="posterimg" align="middle" alt="..." height="300">
            </div>
            <div class="col-5 mb-3 maintext">
                <table>
                    <tr>
                        <td>
                            <h5>Дата выхода:</h5>
                        </td>
                        <td>
                            <h5>@Model.Film?.Date</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Страна:</h5>
                        </td>
                        <td>
                            <h5>@Model.Film?.Country</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Режисёр:</h5>
                        </td>
                        <td>
                            <h5>@Model.Film?.Director</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Жанр:</h5>
                        </td>
                        <td>
                            <h5>@Model.Film?.Genre</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Длительность:</h5>
                        </td>
                        <td>
                            <h5>@Model.Film?.Time</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>В ролях:</h5>
                        </td>
                        <td>
                            <h5>@Model.Film?.InRole</h5>
                        </td>
                    </tr>
                </table>

            </div>

        </section>
        <section class="film row">
            <div class="col-1 mb-4">
                
            </div>
            <div class="col-10 mb-3 maintext">
                <h2>Описание</h2>
                <p>@Model.Film?.Description</p>

            </div>

        </section>
        <div class="col-3">

        </div>
        <div class="col-5 border-5">
            <iframe width="560" height="315" src="@Model.Film?.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-3">
        </div>
    </div>
</form>